body {
  font-family: 'Fira Sans', sans-serif;
  background: #f5f5f5;
}

.todoapp {
  width: 550px;
  margin: 100px auto 0 auto;
}

h1 {
  font-weight: 400;
  font-size: 100px;
  line-height: 100px;
  margin: 0 0 20px 0;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
}

header button {
  position: absolute;
  margin: 16px 0px 0 0px;
  width: 60px;
  height: 33px;
  background-color: transparent;
  border: 1px solid rgba(175, 47, 47, 0.15);
  border-radius: 3px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
}

header button:hover, header button:active, header button:focus {
  -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
}

header button:active, header button:focus {
  border: none;
  outline: none;
}

.header-content {
  width: auto;
  height: auto;
  background-color: #fff;
  -webkit-box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1);
}

li {
  list-style: none;
}

.fa-trash {
  font-size: 19px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  margin: -43px 0 0 500px;
  cursor: pointer;
  color: rgba(175, 47, 47, 0.15);
  -webkit-transition: .2s;
  transition: .2s;
  padding: 5px;
}

.fa-trash:hover, .fa-trash:active, .fa-trash:focus {
  color: rgba(175, 47, 47, 0.5);
}

.fa-check {
  font-size: 18px;
  position: absolute;
  margin: 16px 0 0 15px;
  padding: 4px;
  border-radius: 50%;
  border: 3px solid #000;
  cursor: pointer;
  opacity: .1;
  -webkit-transition: .25s;
  transition: .25s;
}

.fa-check:hover, .fa-check:active, .fa-check:focus {
  color: #188A00;
  opacity: .3;
  border: 3px solid #188A00;
}

.activeCheck {
  color: #188A00;
  opacity: .3;
  border: 3px solid #188A00;
}

.newTodoList {
  width: 474px;
}

input {
  width: 400px;
  height: 33px;
  padding: 16px 16px 16px 60px;
  background: rgba(0, 0, 0, 0.03);
  background-color: #FEFEFE;
  border: none;
  -webkit-box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1);
  font-size: 24px;
}

input:active, input:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
  width: auto;
  height: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FEFEFE;
  -webkit-box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1);
}

.footer .activFooter button {
  -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(175, 47, 47, 0.15);
}

.footer button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  width: auto;
  height: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.7);
}

.footer button:hover, .footer button:active, .footer button:focus {
  -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(175, 47, 47, 0.15);
  outline: none;
}

.footer-counter p {
  font-style: italic;
  opacity: .8;
  font-size: 14px;
  font-weight: 300;
}

.footer-all {
  overflow: hidden;
}

.footer-active {
  overflow: hidden;
}

.footer-completed {
  overflow: hidden;
}

.footer-clear {
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */